<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="google" content="notranslate">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    * {
      box-sizing: border-box;
    }

    label {
      padding: 12px 12px 12px 0;
      display: inline-block;
    }

    .container {
      border-radius: 10px;
      background-color: #f2f2f2;
      padding: 20px;
      width: 80%;
      margin: auto;
      margin-bottom: 10%;
      box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
      
    }

    .col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
      font-size: 25px;
    }

    .col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
      line-height: 250%;
      font-size: 25px;
      font-family: cursive;
    }

    .profileedit {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  </style>
</head>

<body>

  <h1 style="text-align: center; font-size: 60px;"> <span id="username"><%= user.username %>'s</span> Profile</h2>
    <div class="container">
      <form action=""></form>
      <div class="row">
        <div class="col-25">
          <label>Full Name</label>
        </div>
        <div class="col-75">
          <span id="fullname"><%= user.name %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Email</label>
        </div>
        <div class="col-75">
          <span><%= user.email %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label>Country</label>
        </div>
        <div class="col-75">
          <% if((user.country == null) || (user.country == '' ) ) { %>
          <span>NA</span>
          <% } else { %>
          <span><%= user.country %></span>
          <% } %>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="Gender">Gender</label>
        </div>
        <div class="col-75">
          <% if((user.gender == null) || (user.gender == '') ) { %>
          <span>NA</span>
          <% } else { %>
          <span><%= user.gender %></span>
          <% } %>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label>Address</label>
        </div>
        <div class="col-75">
          <% if((user.address == null) || (user.address == '' ) ) { %>
          <span>NA</span>
          <% } else { %>
          <span><%= user.address %></span>
          <% } %>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label>Mobile Number</label>
        </div>
        <div class="col-75">
          <% if((user.mobile == null) ) { %>
          <span>NA</span>
          <% } else { %>
          <span><%= user.mobile %></span>
          <% } %>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label>Date of Birth</label>
        </div>
        <div class="col-75">
          <% if(user.dob == null ) { %>
          <span>NA</span>
          <% } else { %>
          <span><%= user.dob %></span>
          <% } %>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Bio</label>
        </div>
        <div class="col-75">
          <% if((user.bio == null) || (user.bio == '' )) { %>
          <span>NA</span>
          <% } else { %>
          <span><%= user.bio %></span>
          <% } %>
        </div>
      </div>
      <div class="row">
        <a class="profileedit" href="/in/profileedit">Edit</a>
      </div>
      </form>
    </div>

</body>

</html>